
  
  
  
  <form class="form-horizontal" method="POST" action="/addquote">
  <div class="form-group">
    <label for="inputQuote" class="col-sm-2 control-label">Quote</label>
    <div class="col-sm-10">
      <textarea rows="3" class="form-control" id="quote" name="quote" placeholder="Hello, World"></textarea>
    </div>
  </div>
    
    
  <div class="form-group">
    <label for="inputAuthor" class="col-sm-2 control-label">Author</label>
    <div class="col-sm-10">
      <input type="textbox" class="form-control" id="author" name="author" placeholder="Who said it?">
    </div>
  </div>

        
  <div class="form-group">
    <label for="inputAuthor" class="col-sm-2 control-label">Tags</label>
    <div class="col-sm-10">
      <input type="textbox" class="form-control" id="tags" name="tags" placeholder="Separate your tags with a comma.">
    </div>
  </div>

    
    
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>